Binaries
DerivedDataCache
Intermediate
Saved
enc_temp_folder
Content\CityofBrass_Enemies
Content\Custom_Meshes
Content\LightProfilePack
Content\InfinityBladeFireLands
Content\ParagonSevarog
Content\SoulCave
Content\StarterContent
Content\Weapon_Pack
Content/LightProfilePack
Content/CityofBrass_Enemies
Content/Custom_Meshes
Content/InfinityBladeFireLands
Content/ParagonSevarog
Content/SoulCave
Content/StarterContent
Content/Weapon_Pack
Content/Food_Pack_01
Content/AfricanAnimalsPack
Content\Weapon_Pack
ContentFood_Pack_01
Content\AfricanAnimalsPack
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace